{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Oops!</h1>
  <p class="lead">In our effort to move fast we appear to have broken something. Our engineers have been notified of the issue and will probably ignore it until it affects them.</p>
</div>
{% endblock %}
{% block js %}
{% if event_id %}
  <script>
  Raven.showReportDialog({
    eventId: '{{ event_id }}',
    dsn: '{{ public_dsn }}'
  });
  </script>
{% endif %}
{% endblock %}
