<!--
This file is part of Piston.

Piston is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Piston is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Piston.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends 'base.html' %}
{% block title %}Oops!{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Oops!</h1>
  <p class="lead">In our effort to move fast we appear to have broken something. Our engineers have been notified of the issue and will probably ignore it until it affects them.</p>
</div>
{% endblock %}
{% block js %}
{% if event_id %}
  <script>
  Raven.showReportDialog({
    eventId: '{{ event_id }}',
    dsn: '{{ public_dsn }}'
  });
  </script>
{% endif %}
{% endblock %}
