<!--
This file is part of Piston.

Piston is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Piston is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Piston.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Piston</h1>
    <p class="lead">Piston is a radically disrupting the push notification industry. Literally Uber for popups.</p>
    <p><a class="btn btn-lg btn-outline-primary btn-lg" href="{{ url_for('docs') }}" role="button">Read The Docs &raquo;</a></p>
  </div>
</div>
{% endblock %}
