{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<br />
<div class="card">

  <div class="card-block">
    <h4 class="card-title"></h4>
    <p class="card-subtitle text-muted">
      Forwarding you back to <code>{{ redirect_url }}</code>...
    </p>
  </div>

</div>

<form class="redirect-form" action="{{ redirect_url }}" method="post">
  {% if nonce is not none %}<input type="hidden" name="nonce" value="{{ nonce }}" />{% endif %}
  <input type="hidden" name="token" value="{{ token }}" />
</form>
{% endblock %}
