<!--
This file is part of Piston.

Piston is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Piston is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Piston.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block body %}
{% if redirect_url is none %}
<div class="card mx-auto single-card-page">
  <div class="card-block">
    <h4 class="card-title">Authorization Created</h4>
    <p class="card-subtitle text-muted">
      Below is your token, paste it into {{ name }}
    </p>
  </div>
  <div class="card-block">
    <input type="text" class="form-control token-box" value="{{ token }}" />
  </div>
</div>
{% else %}
<form class="redirect-form" action="{{ redirect_url }}" method="post">
  {% if nonce is not none %}<input type="hidden" name="nonce" value="{{ nonce }}" />{% endif %}
  <input type="hidden" name="token" value="{{ registration.token }}" />
</form>
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/post_register.js') }}">
</script>
{% endblock %}
