<!--
This file is part of Piston.

Piston is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Piston is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Piston.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="card mx-auto">

  <div class="card-block">
    <h4 class="card-title"></h4>
    <p class="card-subtitle text-muted">
      Forwarding you back to <code>{{ redirect_url }}</code> with token <code>{{ registration.token }}</code>
    </p>
  </div>

</div>

<form class="redirect-form" action="{{ redirect_url }}" method="post">
  {% if nonce is not none %}<input type="hidden" name="nonce" value="{{ nonce }}" />{% endif %}
  <input type="hidden" name="token" value="{{ registration.token }}" />
</form>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/post_register.js') }}">
</script>
{% endblock %}
