<!--
This file is part of Piston.

Piston is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Piston is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Piston.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="card mx-auto single-card-page">
  <div class="card-block">
    <h4 class="card-title">Allow {% if c.name is string %}{{ c.name }}{% else %}{{ c.domain }}{% endif %} to send you notifications?</h4>
    <p class="card-subtitle text-muted">
      {% if c.name is string %}{{ c.name }} (<code>{{ c.domain }}</code>){% else %}{{ c.domain }}{% endif %} would like to send push notifications to your device.
      You can edit this preference at any time by visiting <a href="{{ url_for('index', _external=true) }}">{{ root }}</a>
    </p>
  </div>

  {% if "image" in c %}
  <img src="{{ c.image }}" />
  {% endif %}

  <div class="card-block text-xs-center no-notifications">
    <p class="card-subtitle text-muted">
      Your browser doesn't support the type of notifications we know how to send!
    </p>
    <a href="{{ c.redirect_url }}" class="btn btn-warning">Continue</a>
    <a href="https://github.com/thefinn93/piston" class="btn btn-success">Add Support</a>
  </div>

  <div class="card-block text-xs-center yes-notifications hidden">
    <form method="post" action="{{ url_for('register.post_register') }}" class="approval-form">
      <input type="hidden" name="redirect_url" value="{{ c.redirect_url }}" />
      <input type="hidden" name="name" value="{{ c.name }}" />
      <input type="hidden" name="subscription" value="unset" />
      {{ csrf_token() | safe }}
      <input type="submit" name="action" value="Allow" class="btn btn-success btn-allow" />
      <input type="submit" name="action" value="Deny" class="btn btn-danger" />
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}
